.login {
  margin: 45px auto 0;
  width: 350px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &__header {
    padding: 28px 20px 5px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: black;
  }
  &__label {
    padding: 5px 25px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #828282;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__input {
    padding: 12px;
    margin: 0 10px;
    align-self: center;
    width: 300px;
    font-size: 12px;
    line-height: 12px;
    color: #000000;
    background: #e0e0e0;
    outline: none;
    border: none;
    border-radius: 5px;
    &::placeholder {
      color: #929292;
    }
  }
  &__button {
    padding: 5px 25px;
    margin: 10px;
    align-self: start;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    background-color: #2f80ed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
