.stat {
  padding-bottom: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  &-item {
    display: flex;
    align-items: center;
  }
  &-icon {
    height: 13px;
    padding-right: 3px;
  }
  &-text {
    font-size: 10px;
    line-height: 12px;
  }
}
