.filter {
  padding: 10px 150px;
  background-color: #e5e5e5;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  &__text {
    color: #929292;
  }
  &__button {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #2f80ed;
    cursor: pointer;
  }
  &__text-label {
    color: #2f80ed;
  }
  &__input {
    border: none;
    outline: none;
  }
}
