<mat-card
  class="search-item"
  *ngIf="videoItemData"
  [appBorderColorByDate]="videoItemData.snippet.publishedAt"
>
  <mat-card-content>
    <img
      class="search-item__preview"
      [src]="videoItemData.snippet.thumbnails.medium.url"
      [alt]="videoItemData.snippet.title"
    />
    <app-stat-view [statistics]="videoItemData.statistics"></app-stat-view>
    <div class="search-item__name">{{ videoItemData.snippet.title }}</div>
  </mat-card-content>
  <mat-card-footer>
    <button
      mat-raised-button
      color="primary"
      class="search-item__button"
      (click)="getDetailedInfo()"
    >
      more...
    </button>
    <div class="search-item__date"></div>
  </mat-card-footer>
</mat-card>
